.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Изменили align-items на flex-start */
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 20px; /* Добавили отступ слева */
  }
  
  .email,
  .password {
    width: 370px;
    padding: 10px;
  }
  
  .sign-in-button {
    margin-right: 20px;
    height: 50px;
    width: 400px;
    margin-top: 5px;
    padding: 10px 20px;
    background-color: rgb(254, 181, 10);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  